@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased selection:bg-primary selection:text-white;
  }
  
  /* Custom scrollbar for multi-year selection if it overflows */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-border rounded-full hover:bg-muted transition-colors;
  }
}

@layer utilities {
  .subtle-shadow {
    box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.4);
  }
}
